.checkout-title{
    color: coral;
    border-bottom: 1px #f1f1f1f1 solid;
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase;
}
.payment-box{
 padding: 30px 50px 30px 50px;
    background-color: #f5f5f5;
    
}
.divider{
    border-top: #dddddd 1px solid;
    margin-top: 18px;
}
.payment-head{
    text-align: center;
    /* background-color: #e6e6e6; */
    margin-bottom: 20px;
    /* padding: 3px 0 1px 0; */
}
.payment-title ul{
    display: flex;
justify-content: space-between;
font-weight: 500;
}
    
.individual-price{
    margin-left: 30px;
    
}
.payment-list>li{
display: flex;
justify-content: space-between;
}
.total-price{
    color: coral;
    font-weight: 500;
}
.paypal{
    display: flex;
    align-items: center;
}
.paypal>img{
margin-left: 10px;
height: 60px;
}
.place-order-btn{
    background-color: coral;
    border-color: coral;
    margin: 20px 0;
width: 100%;
}