/* White */






/* Black */
.color-b1{
    background-color:#343a40;
}


/* Orange */
.color-o1{
    color:coral;
}
a:hover,a>div:hover{
    color: coral !important;
}

/* Green */







/* Red */







/* Blue */









/* Purple */







/* Yellow */