@media (min-width: 768px) {
    .top-info > img {
      height: 326px;
      /* position: absolute; */
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    .drop-right {
      display: none;
    }
    .top-info > img {
      width: 100%;
    }
    .right-box > a > img {
      height: 128px !important;
    }
  }
  
  @media (min-width: 992px) {
    @media (max-width: 1020px) {
      .drop-header > svg {
        display: none;
      }
    }
    .right-box img {
      height: 160px;
      margin-bottom: 10px;
      max-width: 100%;
      
     
    }
    .right-box{
      vertical-align: middle;
    }
    .accessories-pic {
      display: none;
    }
  }
  @media (max-width: 992px) {
    .right-box {
      display: flex;
      justify-content: space-around;
      text-align: center;
    }
  
    .right-box img {
      height: 158px;
    }
  }
  @media (min-width: 1200px) {
  }
  @media (min-width: 1360px) {
    .col-5-c {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  
  .drop-right {
    position: relative;
    height: 326px;
    border-style: solid;
    border-width: 1px;
    top: 15px;
  
    border-color: rgba(196, 196, 196, 0.616);
    /* position: absolute; */
  
    text-align: right;
    padding: 15px;
  }
  
  .drop-header {
    text-align: center;
    color: rgba(0, 0, 0, 0.486);
    margin: 6px 0;
    background-color: rgba(48, 48, 48, 0.075);
    padding: 10px 15px;
  }
  .drop-header > svg {
    margin-right: 12px;
  }
  .drop-right > div > button {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border-style: none;
    padding: 5px 16px;
  }
  button.right-drop-button:hover {
    /* background-color:rgb(51, 167, 103); */
    color: coral;
  }
  
  /* ---------------------------------main pic--------------------------------------------- */
  .top-info {
    margin-top: 15px;
    text-align: center;
  }
  /* -----------------------------------------right box------------------------------------ */
  .right-box {
    margin-top: 15px;
    text-align: center;
  
  }
  
  /* --------------------------------------product grid------------------------------------ */
  .product-group {
    padding: 0;
  }
  .product-list {
    margin-top: 18px;
    padding: 12px 6px;
    /* border-style: solid;
  border-width: 0 1px;
  border-color: rgba(209, 209, 209, 0.397); */
    position: relative;
  }
  
  .product-card {
    padding: 0px 0;
  }
  .product-individual {
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    padding: 12px 0;
  }
  .product-individual img {
    max-width: 100%;
  }
  .product-series,
  .product-series + span {
    font-size: 12px;
    color: #7a7a7a;
    font-weight: 500;
    line-height: 1.833;
    text-transform: uppercase;
    text-decoration-line: none !important;
  }
  .product-detail {
    position: relative;
    margin-top: 3px;
  }
  .product-detail > a {
    text-decoration-line: none;
  }
  .product-detail div {
    position: relative;
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .product-intro {
    padding-left: 16%;
    position: relative;
  }
  .product-price {
    margin-top: 12px;
    opacity: 1;
    position: absolute;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  .regular-price {
    color: #bdbdbd;
    text-decoration-line: line-through;
    margin-right: 5px;
  }
  .sale-price {
    color: coral;
    /* color: #e62c2c; */
    font-weight: 500;
    font-size: 18px;
  }
  
  
  .product-individual::after {
    content: "";
    position: absolute;
    right: 0;
    height: 86%;
    width: 1px;
    background: #f1f1f1f1;
    top: 28px;
  }
  .learn-more-btn {
    margin-top: 8px;
    opacity: 0;
    padding-bottom: 8px;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }
  .product-individual:hover {
    box-shadow: 0 0 10px #e9e9e9;
  }
  
  .product-individual:hover .learn-more-btn {
    opacity: 1;
  }
  .product-individual:hover .product-price {
    margin-top: 13px;
    opacity: 0;
    visibility: hidden;
  }
  .product-individual:hover .product-slider {
    opacity: 1;
  }
  .product-slider {
    opacity: 0;
    -webkit-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    position: absolute;
    right: 8px;
    top: 36px;
  }
  .product-slider button {
    border-radius: 50%;
    background-color: #f1f1f1f1;
    border: none;
    padding: 8px 12px;
    margin-top: 5px;
  }
  .product-slider svg {
    margin-bottom: 3px;
  }
  