h6{
    font-weight: 500;
}
.divider{
    margin: 28px 0 18px 0;
    display: block;
border-top:1px solid #f1f1f1f1;
}

.btn-warning{
    border: coral;
    background-color: coral;
    color: #fff;
}
.btn svg{
    margin-bottom: 5px;
    margin-right: 2px;
    }
.btn-primary-hover:hover{
    background-color: #2b46a8;
    color: #fff;
    -webkit-transform: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,;
    transform: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.list-unstyled{
    margin-bottom: 0;
}
a{
    color: coral;
    text-decoration-line: none !important;
}
a:hover{
    color: #2b46a8 !important;
}
.form-btn{
    width: 100%;
    margin-bottom: 60px;
}