/* header, footer */
.navbar-active-c{
  color:coral !important;
}
/* header: */
.header-top {
  background-color: #343a40;
  position: relative;
  height: 59px;
}
.brand {
  position: absolute;
  top: 15px;
  left: 25px;
}
.brand > a>img {
  width: 50%;
}
.trolley-box{
  position: absolute;
  top:16px;
  right:16px;
}
.trolley-btn{
  background-color:coral ;
  border-style: none;
  transition: 300ms;
}
.trolley-title-top{
  color: coral;
}
.trolley-title-top svg{
  margin: 0 10px 8px 0; 
}

.login-box-content{
  margin: 10px 36px;
}
.login-box a{
  color: #fff;
  font-size: 26px;
}
.login-box-btn{
  width: 100%;
}
.login-box a:hover{
  color: coral !important;
}
.login-box-create-account{
  margin: 10px 0;
}
.login-box-create-account>a:hover{
  color: blue;
 text-decoration: underline !important;
 -moz-text-decoration-line: underline;
}
.logged-show{
  display: inline-block;

  transition: 200ms;
  font-size: 18px;
  margin-right: 10px;
}
.logged-show svg{
  width: 20px;

}
.logged-show span{
  
  margin-left:8px;
  font-size: 18px;
}
.logout-btn{
  height: 30px;
margin-top: -5px;
padding: 1px 20px 5px 20px;
 
}

/* ---------------------------footer: ---------------------------------------------*/
.navbar-fixed-bottom {
  bottom: 0 !important;
  margin-bottom: 0 !important;
  max-width: initial;
}
.footer {
  background-color: #343a40;
  width: 100% !important;
  margin: auto !important;
}
.footer > div {
  padding: 15px 20px 5px 20px;
  margin: 0 0 0 135px;
}
@media (max-width: 991.98px) {
  .footer > div {
    text-align: center;
    margin: 0;
  }
}
.footer h5 {
  margin: 20px 0;
}
.footer-list > li {
  margin: 12px 0;
}
.footer-list > li > svg {
  margin-bottom: 2px;
  color: coral;
}
.footer-list > li > span {
  margin-left: 12px;
  color: rgba(235, 235, 235, 0.7);
}
.footer-list > li > a > span {
  margin-left: 12px;
  color: rgba(235, 235, 235, 0.7);
}
.footer-img {
  margin-top: 1px;
}
.copyright {
  color: rgba(133, 133, 133, 0.562);
  text-align: center;
}

