.myaccount-title{
    margin: 50px 0;
    border-bottom: 1px #f1f1f1f1 solid;
    padding-bottom: 8px;
}
.myaccount-nav{
margin-bottom: 30px;
}
.myaccount-content{
    padding: 26px;
    border: 1px solid #f1f1f1f1;
    margin-bottom: 36px;
}
.myaccount-nav>div{
line-height: 30px;
display: block;
padding: 15px 13px;
font-weight: 500;
border: 1px solid #f1f1f1f1;
border-bottom: none;
color: #1f1f1f;
}
.myaccount-nav>div:hover{
    color: #fff !important;
background-color: #2b46a8;
cursor:pointer;
}
.myaccount-nav svg{
margin-right: 8px;
}
.myaccount-nav>div:last-child{
    border: 1px solid #f1f1f1f1;
}
.myaccount-content-form h4{
border-bottom: 1px solid #f1f1f1f1;
margin-bottom: 26px;
padding-bottom: 8px;
}
.nagative-content{
    display: none;
}
.active-content{
    display: block;
}
.active-tabs{
    background-color: #2b46a8;
    color: #fff !important;
}