/* ------------------------------------------------detail head----------------------------------- */
@media (max-width:768px){
    .detail-pic img{
        max-width: 50%;
    } 
}
@media (max-width:992px){
    .side-product{
        display:none ;
    }
}
.detail-pic{
    text-align: center;
}

.detail-pic img{
    width: 100%;
  
}
.detail-content{
    margin-top: 18px;
}
.detail-title{
    position: relative;
    /* width: 40%; */
}
.title-series{

}

.title-info{
    

}
.payments{
    font-size: 13px;
    position: relative;
    text-align: center;
    margin: 16px 0;
    padding: 0 8px;
}
.payments img{
    margin-bottom: 2px;
    max-width: 120px;

   
}
.payments::after{
    content: "";
  position: absolute;
  right: 0px;
  height: 100%;
  width: 1px;
  background: #f1f1f1f1;
  top: 0px;
}
.detail-right-box{
    position: absolute;
    top: 8px;
    right: 2%;
    width: 260px;
    padding: 5px;
    font-size: 13px;
}
.reviews{
    color: coral;
    margin-bottom: 5px;
}
.reviews span{
    color: black;
}
.short-intro{
    border-style: solid;
    border-width: 1px;
    border-color: #f1f1f1f1;
    
    
}
.short-intro b{
    width: 60%;
    display: inline-block;
}
.regular-price{
    font-size: 18px;
}
.sale-price{
font-size: 22px !important;
}
.detail-price>div{
    margin-top: 5px;
}
.price-save{
    margin-left: 5px;
    
    font-size: 12px;
    border-radius: 3px;
    padding: 0px 5px;
    background-color: #32b618;
    color: #fff;
}
.add-cart-button{
margin: 10px 0;

}

.side-product img{
    width: 100%;

}
/* ---------------------------------------combo deals------------------------------------ */
.description-title{
    margin:15px 0;
    padding-bottom: 5px;
border-bottom: 1px #f1f1f1f1 solid;
font-size: 18px;
font-weight: 600;
}
.detail-include ul li{
    
}

.detail-include span{
border-style: solid;
border-width: 1px;
border-color: #f1f1f1f1;
padding: 3px;
}
.description-content{
    color: rgb(90, 90, 90);
    font-weight: 500;
    line-height: 1.6em;
margin-bottom: 20px;
}
.description-content h4,h5{
    color: coral;
    margin: 10px 0 6px 0;
}