.trolley-title{
    color:#28a745;

}
.trolley-title svg{
    color:#28a745;
   margin: 0 12px 5px 0; 
}
.trolley-subtitle{
    font-size: 18px;
    color: rgba(71, 71, 71, 0.74);
    font-weight: 500;
    margin-top: 6px;
}
.trolley-subtitle u{
color: #17a2b8;
}
.trolley-table{

}
.trolley-item{
    background-color:rgba(206, 206, 206, 0.137);
    display: flex;
    justify-content:space-between;
}
.trolley-item-price{
    display: flex;
    justify-content: flex-end !important;
    font-weight: 500;
}