@media (min-width:768px) {
    .content-page{
        left: 230px;
         /* max-width: 80vw;  */
    }
    .row{
        /* max-width: 80vw !important; */
    }
}
@media (max-width:768px) {
    .content-page{
        left: 0px;
        /* max-width: 100vw; */
    }
}
@media (min-width:768px) {
    .content-page{
        max-width: calc(100vw - 230px);
    }
}
@media (min-width:1200px) {
    .content-page{
        /* max-width: 100vw; */
    }
}

.content-page{
    font-family:sans-serif;
    position: absolute;
    top: 60px;
    padding: 26px 32px;
    background-color: #f3f4f7;
    height: 100vh;
 
}
.content-title{
    font-size: 23px;
    font-weight: 500;
    color: #555555;
    margin: 12px 0 26px 0;
  
}
.content-cardbox{
    border: 1px solid rgba(219, 219, 219, 0.541);
    box-shadow: 0 0 6px rgba(201, 201, 201, 0.288);
    border-radius: 8px;
    margin: 16px 0px;
    background-color: #fff;
    padding: 16px;
    max-width: 95vw;
}


.content-item-title{
    display: flex;
    align-items: center;
   text-align: center;
   margin: 6px 0;
}
.table{
    text-align: center;
    
}
.table td{
    vertical-align: middle;
}
.edit-btn{
margin: 5px 6px;
width: 88px;
}
.show-data.active{
display: inline;
}
.show-data{
    display: none;
}
.form-control{

}
.col-heigh-16{
    margin-bottom: 16px;
}
.link-style a{
    display: inline-block;
width: 100%;
color: rgba(40, 79, 255, 0.904);
font-weight: 500;
}
.link-style:hover{
border: 1px solid rgba(139, 139, 139, 0.151);
box-shadow: 0 0 5px rgba(138, 138, 138, 0.226);
transition: 200ms;
}
.link-style a:hover{
color: rgb(255, 170, 58);
text-decoration:none;
transition: 180ms;
}
.text-area{
    width: 100%;
}
.view-order-detail>div{
margin: 10px 0 10px 28px;
}

.alert-box{
    margin-bottom: 0 !important;
}