*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (min-width: 768px) {
  .nav-menu {
    left: 0 !important;
    transition: 350ms;
  }
  .navbar-toggle{
    display: none !important;
  }

  .menu-toggle{
    display: none !important;
  }
}
@media (max-width:768px) {
  
}
.back-header{
 
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid rgba(235, 235, 235, 0.568);
  position: relative;
  z-index: 10;
}
.logo-link{
 
  position: relative;
  display: block;
  height: 100%;
  /* width: 120px; */
}
.logo{
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
height: 30px;
justify-content: center;

}
.menu-toggle{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 2rem;
  font-size: 2rem;
  right: 1rem;
  color: #fdbf38;
  transition: 200ms;
}

.menu-toggle:hover, .menu-close:hover{
  color: #ffae00;
  
}

.nav-menu {
  background-color: white;
  border-right: 1px solid rgba(235, 235, 235, 0.568);
  display: flex;
  justify-content: center;
  width: 240px;
  height: 100vh;
  position: relative;
  left: -100%;
  transition: 850ms;
  z-index: 10;
}
.navbar-toggle {
  position: relative;
  /* background-color: #fff6e3; */
  border-bottom: 1px solid rgba(235, 235, 235, 0.568);
  width: 100%;
  height: 30px;
}
.menu-close{
  position: absolute;
right: 26px;
top: -5px;
font-size: 1.4rem;
color: #fdbf38;
  transition: 200ms;
}
.menu-user{
position: relative;
height: 50px;
display:flex;
align-items: center;
justify-content: center;
margin: 4px 0;
}
.menu-user img{
height: 80%;
border: 1px #5a5a5a18 solid;
border-radius: 50%;
margin-right: 1rem;
margin-left: -1.6rem;
}
.menu-userName{
  color: #5a5a5a;
  font-weight: 500;
}
.menu-userRole{
  color: #888888;
  font-weight: 600;
  
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 5px 0;
  list-style: none;
  height: 53px;
  border-left: 5px solid  transparent;
}
.nav-text.dropdown a{
  font-size: 15px;
  padding-left: 2px;

  font-weight: 500;
}
.nav-text span{
  color: #5a5a5a;
  margin-left: 16px;
}

.nav-text a {
  font-family:sans-serif;
  text-decoration: none;
  color: #707070;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.nav-text svg{
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav-text:hover a  {
  width: 100%;
  height: 100%;
  background-color: #fffaef;
  color: #ffa600;
  transition: 200ms;
}
.nav-text.selected a{
  height: 100%;
  width: 100%;
  background-color: #fff6e3;
  color: #ffa600;
  transition: 200ms;
}
.nav-text.selected{
 
  border-left: 5px solid #f8bd3e; 
}
.nav-menu-items {
  width: 100% !important;


}


