@media (max-width:768px) {
    .spec-box{
        max-width: 100vw;
    }
}


.add-sku-btn{
    margin-top:16px;
    float:right;
    width: 88px;;
    }
.spec-box{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    max-width: 100vw;
    margin: 8px -16px 6px -16px;
    padding: 6px 16px  16px 16px;
}
.product-img{
    margin-top: 20px;
    height: 160px;
    border: black 1px solid;
}