
.spu-categories-box{
  padding: 6px;
}
.spu-categories-box ul{
list-style: none;
}
.spu-categories-box li{
margin: 10px 0px;
height: 46px;
display: flex;
align-items: center;
padding: 2px 0 2px 20%;
}
.spu-categories-box li:hover{
    background-color: #fffaef;
    color: #ffa600;
    transition: 200ms;
    cursor: pointer;
}
.spu-content-selected{
    background-color: #fffaef;
    color: #ffa600;
}
.add-spu-btn{
margin-top:16px;
float:right

}
.content-cardbox span{
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #555555;
    
}
.spu-select{
    list-style: none;
}

.spu-select li{
margin: 8px 6px;
height: 37px;
display: flex;
align-items: center;
}
.spu-select li:hover{
    background-color: #fffaef;
  color: #ffa600;
  transition: 200ms;
  cursor: pointer;

}